
#container {
  display: block;
  width: 1050px;
  height: 750px;
  /*background-color: black;*/
  margin: 5px auto;
  /*border: dotted 1px ;*/
  background-image: url(images/yellowretrotv.gif);
  background-repeat: no-repeat; 
  background-size: cover;  
}

#container img {
  width: 150px;
  height: 260px;
  opacity: 0;
}

#container img[src] {
  opacity: 1;
  padding: 5px;
  border-radius: 30px;
  box-shadow: 8px 8px;
}

body {
  background-image: url(images/bluedecor.jpg); no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: color-dodge
  
}

h2 {
  text-align: center;
  margin-top: 34px; 
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  text-decoration: underline;
  color: #b35900 ;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.29);
  }

h3 {
  text-align: center;
  font-style: italic;
  font-family: 'Libre Baskerville', serif;
  font-size: 32px;
  margin-top: 7px;
  color:  #804000;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.29);
  text-decoration: underline;

}

#score,
#total {
  text-align: right;
  margin-top: -55px;
  margin-right: 159px;
  font-size: 50px;
  color: #ffa94d;
}

#total {
  margin-right: 108px;

}

button {
  padding: 10px 24px;
  border-radius: 8px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  background-color: #cc6600;
  font-family: 'Libre Baskerville', serif;
  font-weight: bold;

}

.choices {
  margin-left: 220px;
  margin-top: 140px;
  border-radius: 5px;
}

.commence {
  margin-left: 395px;
  margin-top: 35px;
}

p {
  text-align: right;
  font-family: "Courier New";
  font-size: 30px;
  margin-top: 30px;
  color: #cc6600;
  font-weight: bold;
}

#finished-game {
    position: relative;
    top: -471px;
    left: 225px;
    background: black;
    display: inline-block;
    width: 291px;
    height: 74px;
    border-radius: 8px;
    font-size: 35px;
    font-family: 'Bungee Shade', cursive;
    font-weight: bold;
    text-align: center;
    color: #cc6600;
    text-shadow: 2px 2px 4px #000;
    padding: 100px;
}

.hidden {
  display: none!important;
}












