
.container {
  display: block;
  width: 960px;
  height: 488px;
  background-color: #cce6ff;
  margin: 110px auto;
  border: dotted 2px;
}

#start {
  display: block;
  float: clear;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

